:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #2c2c2c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fffcfc;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #f7e0e0;
}
button:focus,
button:focus-visible {
  outline: 15px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.header {
  width: 100%;
  background: #2c2c2c;
  backface-visibility: hidden;
  transition: transform 0.3s;
  top: 0;
  
}

.btn-new {
  margin-top: 15px;
  border-radius: 10px;
  color: white;
  transition: .2s linear;
  background: #0B63F6;
}

.btn-new:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.dogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  background-color: #2c2c2c;
}

.card_content {
  min-width: 250px; 
  height: auto; 
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 15px;
  box-sizing: border-box; 
}

.card_content-title {
  font-size: 1.5em; 
  font-weight: bold;
  color: #1a1a1a;
  margin: 15px 0; 
  text-align: center;
}

.card_img {
  width: auto; 
  height: auto;
  object-position: top;
  object-fit: cover; 
  max-height: 200px; 
}

.btn-new {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background: #0B63F6;
  transition: .2s linear;
  cursor: pointer;
}

.btn-new:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8; 
}